*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
   
}

.input1{
    position: relative;
    bottom: 300px;
    width: 300px !important;
    
}

.input1>input{
    height: 25px !important;
    font-size: 13px;
    cursor: pointer;
}


.city{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    background: linear-gradient(#000428,#004e92) !important;
    border-radius: 12px 12px;
    position: relative;
    bottom: 300px;
    color: white;
    margin: auto;
    width: 200px;
    height: 70px;
    margin-bottom: 20px;
    cursor: pointer;

   
    
  
}

.img3{
    position: relative;
    top: 200px;
  
}

.btno{
    width: 60px;
    height: 30px;
    font-size: 12px;
    background-color: rgb(0, 110, 255) !important;
}

.city>li{
    font-size: 14px ;
    list-style: none;
    position: relative;
    right: 40px;
   
    
}

h4{
    font-size: 13px;
    position: relative;
    top: 200px;
    background: linear-gradient(#000428,black);
    height: 100px;
    color: white;
    width: 220px;
    text-align: center;
    padding-top: 30px;
    border: 2px solid white;
    border-radius: 12px 12px;
    cursor: pointer;
    
   
}
h1{
    color: white;
    font-family: monospace;
    margin-left: 30px;
    margin-top: 20px;
    cursor: pointer;
}

